
<div class="row">
  <div class="col s12">
    <%= form_for [:admin, @project], method: :patch, class: "col s12" do |p| %>
        <div class="input-field col s12">
          <%= p.label :title %>
          <%= p.text_field :title, class: "validate", id: "title" %>
        </div>
        <% @html_pages.each do |page| %>
          <div data-id="<%= page.id %>" data-name="<%= page.html %>"><p><%= page.html %></p>
            <a class="delete-button-js">DELETE THIS HTML</a>
          </div>
        <% end %>

        <div class="row">
          <div class="input-field col s12">
            <p>
              <%= check_box_tag("project[replace]", true, false, {:id => 'project_replace', :class => "edit_checkbox-answer" }) %>
              <label for="project_replace">Replace Fiels</label>
            </p>
            <p>
              <%= check_box_tag("project[replace]",false, false, {:id => 'project_add', :class => "edit_checkbox-answer" }) %>
              <label for="project_add">Add Files</label>
            </p>
          </div>
        </div>
        <div class="row admin_main-html__replace" >
          <div class="input-field file-field col s12">

            <div class="btn">
              <span>MAIN HTML</span>
              <%= p.file_field :html, name: 'project[html_pages_attributes][][html]' %>
              <%= p.hidden_field :main, value: true, name: 'project[html_pages_attributes][][main]' %>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>


          </div>
        </div>
        <div class="input-field file-field col s12">

          <%= p.fields_for :html_pages_attributes do |pp| %>
              <div class="btn">
                <span>HTML</span>
                <%= pp.file_field :html, name: 'project[html_pages_attributes][][html]', 'multiple' => '' %>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
          <% end %>
        </div>


        <div class="file-field input-field col s12">
          <div class="btn">
            <span>Assets</span>
            <%= p.file_field :file, name: 'project[file]' %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>


        <div class="col s12">
          <%= p.hidden_field :method, value: 'put', name: '_method' %>
          <%= p.submit "Update", class: "waves-effect waves-light btn admin_sub-but" %>

        </div>

    <% end %>
  </div>
</div>





























