
<div class="row">
  <%= form_for ['admin', @project], class: 'col s12' do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_field :title %>
        <%= f.label :title %>
      </div>
    </div>
    <div class="row">
      <div class="input-field file-field col s12">
        <%= f.fields_for :html_pages do |ff| %>
            <div class="btn">
              <span>MAIN HTML</span>
              <%= ff.file_field :html %>
              <%= ff.hidden_field :main, value: true %>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
        <% end %>

      </div>
    </div>
    <div class="row">
      <%= f.fields_for :html_pages do |task| %>
          <%= render 'html_page_fields', f: task %>
      <% end %>
      <%= link_to_add_association 'add html', f, :html_pages, 'data-association-insertion-method' => 'prepend', class: 'waves-effect waves-light btn admin red' %>
    </div>



    <div class="row">
      <div class="input-field file-field  col s12">
        <div class="btn">
          <span>Assets</span>
          <%= f.file_field :file, name: 'project[file]'  %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>
    <div class="row">
      <%= button_tag(type: 'submit', class: "waves-effect waves-light btn admin green") do %>
          Submit
          <i class="material-icons right">send</i>
      <% end %>
    </div>
  <% end %>
</div>