<% provide(:title, "Portfolio") %>
<% title = "Portfolio" %>
<%= title %>
<% provide(:title, "Portfolio") %>
<div class="container">
  <div class="row">
    <div class="col m3">
      <%= link_to "Project1" %>

    </div>
    <div class="col m3">
      <%= link_to "Project2" %>
    </div>
    <div class="col m3">
      <%= link_to "Project3" %>
    </div>
    <div class="col m3">
      <%= link_to "Project4" %>
    </div>
  </div>
</div>